{% extends "core/core.html" %}



{% block bar %}

            <li class="nav-item ">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item ">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>


            {% if request.user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link disabled" href="{%url 'instruments'  %}">Instruments</a>
                </li>

                <li class="nav-item">
                <a class="nav-link disabled" href="{%url 'history'  %}">History</a>
                </li>

                <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}?next=/login">Sign-out</a>
                </li>

            {% else %}
                <li class="nav-item active">
                <a class="nav-link" href="/login/">Sign-in</a>
                </li>
            {% endif %}

{% endblock %}


